<h4>Formularios <small>Data</small></h4>
<hr>
<form [formGroup]="formulario" (ngSubmit)='guardarCambios()'>
 
  <div formGroupName="nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8" >
<!-- formulario.get('nombre').valid
  [ngClass]="{'is-invalid': formulario.controls['nombre'].invalid}"
 -->
        <input [ngClass]="{'is-invalid': formulario.controls['nombrecompleto'].controls['nombre'].invalid}"
               class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">

          <!-- *ngIf="formulario.controls['nombre'].errors?.required"
          *ngIf="formulario.get('nombrecompleto.nombre').errors?.required"-->
          <div class="invalid-feedback"
               *ngIf="formulario.get('nombrecompleto.nombre').errors?.required">
           El campo es requerido
         </div>

         <div class="invalid-feedback"
              *ngIf="formulario.get('nombrecompleto.nombre').errors?.minlength">
           Por lo menos 3 caracteres
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input [ngClass]="{'is-invalid': formulario.controls['nombrecompleto'].controls['apellido'].invalid}"
               class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">

          <div class="invalid-feedback"
              *ngIf="formulario.get('nombrecompleto.apellido').errors?.required">
           El campo es requerido
         </div> 
         
    <div class="invalid-feedback"
         *ngIf="formulario.get('nombrecompleto.apellido').errors?.noBravo">
      El apellido no puede ser bravo
    </div> 

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input [ngClass]="{'is-invalid': formulario.get('correo').invalid}"
             class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
      
       <div class="invalid-feedback"
             *ngIf="formulario.controls['correo'].errors?.required">
         El campo es requerido
       </div>

       <!-- *ngIf="formulario.controls['correo'].errors?.pattern" -->
       <div  class="invalid-feedback"
             *ngIf="formulario.get('correo').errors?.pattern">
         El campo no es valido debe ser example@correo.com
       </div>
            
    </div>
  </div>


  <div class="form-group row">
      <label class="col-2 col-form-label">Username</label>
      <div class="col-md-8">
  
        <input [ngClass]="{'is-invalid': formulario.get('username').invalid}"
               class="form-control"
               type="text"
               placeholder="Introduzca su username"
               formControlName="username">
        
         <div class="invalid-feedback"
               *ngIf="formulario.controls['username'].errors?.required">
           El campo es requerido
         </div>

   <div class="invalid-feedback"
         *ngIf="formulario.controls['username'].errors?.existeUsuario">
     El username ya existe
   </div>
  
              
      </div>
    </div>


  <div class="form-group row">
      <label class="col-2 col-form-label">Password</label>
      <div class="col-md-8">
  
        <input [ngClass]="{'is-invalid': formulario.get('password1').invalid}"
               class="form-control"
               type="password"
               placeholder="Introduzca su password"
               formControlName="password1">
        
         <div class="invalid-feedback"
               *ngIf="formulario.controls['password1'].errors?.required">
           El campo es requerido
         </div>
  
              
      </div>
    </div>


  <div class="form-group row">
      <label class="col-2 col-form-label">Repita password</label>
      <div class="col-md-8">
  
        <input [ngClass]="{'is-invalid': formulario.get('password2').invalid}"
               class="form-control"
               type="password"
              
               placeholder="Introduzca su password"
               formControlName="password2">
        
         <div class="invalid-feedback"
               *ngIf="formulario.controls['password2'].errors?.required">
           El campo es requerido
         </div>
  
         <!-- *ngIf="formulario.controls['correo'].errors?" -->
         <div  class="invalid-feedback"
               *ngIf="formulario.get('password2').errors?.noIgual">
               Las pass no son iguales
           
         </div>
              
      </div>
    </div>









  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempo</label>
    <div class="col-md-4" formArrayName="pasatiempos">
      <!-- <input type="text" class="form-control" formControlName="primer item del arreglo"> -->
      <input *ngFor="let pasatiempo of formulario.controls['pasatiempos'].controls; let i=index" 
             type="text" class="form-control" [formControlName]="i">

    </div>
        <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">Nuevo</button>
        <!-- <button type="button" class="btn btn-primary" (click)="deletePasatiempo(i)">Borrar</button> -->
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!-- [disabled]= 'formulario.invalid' -->
      <button  
              type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{formulario.valid}}
  <br>
  {{formulario.status}}
</form>

