<app-nabvar></app-nabvar>

<div class="container main-container">
  <h1>Demos <small>angular</small></h1>
  <hr>
</div>


<!-- <app-ng-style></app-ng-style>  -->
<!-- <app-css></app-css> -->
<!-- <app-ng-clases></app-ng-clases> -->
<!-- 
<div class="container">
    <p appResaltado>
        Hola mundo desde app.component.html directiva appResaltado
      </p>

      <p id="resaltadodos" [appResaltadoDos]="'green'" >
          Hola mundo desde app.component.html directiva appResaltadoDos
      </p>

</div> -->

<!-- <div class="container">
  <app-ng-switch></app-ng-switch>
</div>  -->

<router-outlet></router-outlet>

<!--  ng g c components/ngStyle -it(el template este en el mismo archivo) 
  -is(el estilo este en el mismo archivo) -->

  <!--  ng g c components/ngStyle -it(el template este en el mismo archivo) 
  -is(el estilo este en el mismo archivo)  --flat (para q no cree un folder)-->

  <!-- tiket aumento de tarjeta de credito  banesco jaime 201914915199 -->