<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)='guardar(formularioTemplate)' #formularioTemplate='ngForm' novalidate='' >

  <div>

    <div class=" form-group row">
      <label class="col-2 col-form-label ">Nombre</label>
      <div class="col-8">

        <input [ngClass]="{'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched}"
               class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]='usuario.nombre' 
               required 
               minlength="6"
               #nombre='ngModel'> 

        <div class="invalid-feedback" 
            *ngIf="nombre.errors?.required">
          El campo es requeridoo
        </div> 

        <div class="invalid-feedback" 
            *ngIf="nombre.errors?.minlength">
          Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres 
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input [ngClass]="{'is-invalid': apellido.errors?.required  && apellido.touched}"
               required 
               class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]='usuario.apellido'
               required
               #apellido='ngModel'>

               <div class="invalid-feedback" *ngIf="apellido.errors?.required">
                El campo es requerido
              </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input [ngClass]="{'is-invalid': (correo.errors?.required || correo.errors?.pattern)  && correo.touched}"
             class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)]='usuario.correo'
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo='ngModel'>

             <div class="invalid-feedback"
                  *ngIf="correo.errors?.required">
              El campo es requerido
            </div>

            <div  class="invalid-feedback"
                  *ngIf="correo.errors?.pattern">
              El campo no es valido debe ser example@correo.com
            </div>

    </div>
  </div>
 

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">

      <select [(ngModel)]="usuario.pais"
              class="form-control" name="pais" >
          <option value="">Seleccione un pais</option>
          <option *ngFor="let pais of paises"
                  [value]="pais.codigo">{{pais.nombre}}</option>  
      </select>

    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
      <div class="col-md-8">

          <!-- <div class="form-check form-check-inline">
            <input [(ngModel)]="usuario.sexo"
                   class="form-check-input" 
                   type="radio" 
                   name="sexo"  
                   value="Hombre">
                   <label class="form-check-label">Hombre</label>
            </div> -->

            <!-- <div class="form-check form-check-inline">
             
                <input [(ngModel)]="usuario.sexo"
                       class="form-check-input" 
                       type="radio" 
                       name="sexo"  
                       value="Mujer">
                       <label class="form-check-label">Mujer</label>
            </div> -->

            <div *ngFor="let sexo of sexos"
                  class="form-check form-check-inline">
            
                <input [(ngModel)]="usuario.sexo"
                       class="form-check-input" 
                       type="radio" 
                       name="sexo"  
                       [value]="sexo">
                       <label class="form-check-label">{{sexo}}</label>
            </div>
            

    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Acepta</label>
      <div class="col-md-8">

          <div class="form-check">
              <input [(ngModel)]="usuario.acepta"
                     name="acepta"
                     class="form-check-input" 
                     type="checkbox"
                     required>
              <label class="form-check-label" for="defaultCheck1">
                Acepta las condiciones
              </label>
            </div>

      </div>
  </div>




  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!-- [disabled]='formularioTemplate.invalid' -->
      <button [disabled]='formularioTemplate.invalid' 
              type="submit" class="btn btn-outline-primary">
        Guardar boton
      </button>

      <!-- <input type="submit" class="btn btn-outline-primary" value="Guardar input"> -->

      <!-- <a (click)='guardar()' class="btn btn-primary" href="#" role="button">guardar a</a> -->
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
  {{formularioTemplate.valid}}
</pre>


